.grid-area2 {
    .main-inicio {
        @include flex-column;
        color: white;
        margin: 2rem 0rem 5rem 0rem;
        .titulo-inicio {
            text-align: center;
        }
        .parrafo-inicio {
            text-align: center;
        }
        .foto-mati {
            width: 16rem;
            border-radius: 10px;
        }
    }
}


@media (min-width: 768px) {
    .grid-area2 {
        .main-inicio {
            @include flex-column;
            color: white;
            margin: 2rem 0rem 5rem 0rem;
            .titulo-inicio {
                text-align: center;
                font-size: 3rem;
            }
            .parrafo-inicio {
                text-align: center;
                font-size: 1.7rem;
            }
            .foto-mati {
                width: 20rem;
                border-radius: 10px;
            }
        }
    }
}

@media (min-width: 1024px) {

    .grid-area2 {
        .main-inicio {
            @include flex-row;
            gap: 5rem;
            padding: 2rem 5rem 2rem 5rem;
            margin: 0;
            .titulo-inicio {
                font-size: 3rem;
                text-align: start;
            }
            .parrafo-inicio {
                font-size: 2rem;
                text-align: start;
                padding: 0%;
            }
            .foto-mati {
                width: 350px;
                height: 450px;
                border-radius: 10px;
            }
        }
    }

}
