@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", serif;
    box-sizing: border-box;
}
body {
    background-color: #3E5879;
    margin: 0;
    padding: 0;
}
span {
    font-weight: bold;
}
main {
    color: white;
}

/*MOBILE VIEW*/

/*GRID*/

.grid-contenedor-padre {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat (3, 1fr);
}
.grid-area1 {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
}
.grid-area2 {
    grid-column: 1 / 6;
    grid-row: 2 / 3;

}
.grid-area3 {
    grid-column: 1 / 6;
    grid-row: 3 / 3;
}

/*CIERRE GRID*/

/*HEADER*/

.mi-nav {
    background-color: #213555;
}
.mi-nav a {
    color: white;
}
.logo-mati {
    width: 10%;
}

/*CIERRE HEADER*/

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 1rem;
}
.marco {
    background-color: #213555;
    border-radius: 16px;
}

/*CIERRE FOOTER*/

/*INICIO STLYE*/

.main-inicio {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem 5rem 0rem;
}
.titulo-inicio {
    text-align: center;
}
.parrafo-inicio {
    text-align: center;
}
.foto-mati {
    width: 16rem;
    border-radius: 10px;
}

/*CIERRE INICIO STYLE*/

/*SOBRE MI STYLE*/

.main-sobre-mi {
    padding: 2rem;
}
.titulo-sobre-mi {
    text-align: center;
    font-size: 2rem;
    background-color: #213555;
    border-radius: 10px;
    padding: 2%;
}
.parrafo-sobre-mi {
    text-align: center;
    font-size: 1rem;
}

/*CIERRE SOBRE MI STYLE*/

/*HABILIDADES STYLE*/

.div-habilidades {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
    margin: 2rem;
    max-width: 150px;
}
.div-aprendiendo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
    margin: 2rem;
    max-width: 150px;
}
.subtitulos {
    background-color: #213555;
    font-size: 1.3rem;
    text-align: center;
    padding: 5%;
    border-radius: 10px;
}

/*CIERRA HABILIDADES STYLE*/

/*ESTUDIOS STYLE*/
.titulo-estudios {
    background-color: #213555;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: fit-content;
    border-radius: 10px;
    padding: 3%;
    font-size: 1.7rem;
    margin: 1rem;
}
.subtitulos-estudios {
    background-color: #406299;
    display: flex;
    margin: 1rem;
    width: fit-content;
    border-radius: 10px;
    padding: 1%;
    font-size: 1rem;
}
.parrafos-estudios {
    margin: 1rem;
    font-size: 1rem;
}
/*CIERRA ESTUDIOS STYLE*/

/*CONTACTO STYLE*/
.div-contacto {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 5rem;
    width: 90%;
}
.btn-enviar {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 3rem;
}
.label-contacto {
    background-color: #213555;
    width: fit-content;
    padding: 4%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.label-mensaje {
    background-color: #213555;
    width: fit-content;
    padding: 4%;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.footer-contacto {
    
}
/*CIERRA CONTACTO STYLE*/

/*CIERRE MOBILE VIEW*/

/*TABLET VIEW*/
@media (min-width: 744px) {

    

    /*HEADER*/
    .mi-nav {
        background-color: #213555;
    }

    .mi-nav a {
        color: white;
    }
    
    .logo-mati {
        width: 5%;
    }

    /*CIERRE HEADER*/

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: center;
        gap: 8rem;
        padding: 2%;
    }
    
    .marco {
        background-color: #213555;
        border-radius: 16px;
    } 

    /*CIERRE FOOTER*/

    /*INICIO STYLE*/

    .main-inicio {
        color: white;
        text-align: center;
    }
    
    .foto-mati {
        width: 350px;
        height: 450px;
        border-radius: 10px;
    }

    .titulo-inicio {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .parrafo-inicio {
        font-size: 1.5rem;
        text-align: center;
        padding: 2%;
    }

    /*CIERRE INCIO STYLE*/

    /*SOBRE MI STYLE*/
    
    /*CIERRE SOBRE MI STYLE*/

    /*HABILIDADES STYLE*/

    /*CIERRA HABILIDADES STYLE*/

    /*ESTUDIOS STYLE*/

    /*CIERRA ESTUDIOS STYLE*/

    /*CONTACTO STYLE*/

    /*CIERRA CONTACTO STYLE*/

}
/*CIERRE TABLET VIEW*/

/*DESKTOP VIEW*/
@media (min-width: 1024px) {

    /*GRID*/

    .grid-contenedor-padre {
        display: grid;
        min-height: 100vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat (3, 1fr);
    }
    .grid-area1 {
        grid-column: 1 / 6;
        grid-row: 1 / 1;
    }
    .grid-area2 {
        grid-column: 1 / 6;
        grid-row: 2 / 3;

    }
    .grid-area3 {
        grid-column: 1 / 6;
        grid-row: 3 / 3;
    }

    /*CIERRE GRID*/

    /*HEADER*/

    .mi-nav {
        background-color: #213555;
    }
    .mi-nav a {
        color: white;
    }
    .logo-mati {
        width: 50px;
    }

    /*CIERRE HEADER*/

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: center;
        gap: 10rem;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    /*CIERRE FOOTER*/

    /*INICIO STYLE*/

    .main-inicio {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        padding: 2rem 5rem 2rem 5rem;
        margin: 0;
    }
    .foto-mati {
        width: 350px;
        height: 450px;
        border-radius: 10px;
    }
    .titulo-inicio {
        font-size: 3rem;
        text-align: start;
    }
    .parrafo-inicio {
        font-size: 2rem;
        text-align: start;
        padding: 0%;
    }

    /*CIERRE INICIO STYLE*/

    /*SOBRE MI STYLE*/

    .main-sobre-mi {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem 10rem 0rem 10rem;
    }
    .titulo-sobre-mi {
        margin: 1rem;
        background-color: #213555;
        width: 50%;
        border-radius: 10px;
        font-size: 2rem;
        padding: 1%;
    }
    .parrafo-sobre-mi {
        font-size: 1.5rem;
        width: 50%;
        text-align: center;
    }

    /*CIERRE SOBRE MI STYLE*/

    /*HABILIDADES STYLE*/
    
    .contenedor {
        display: flex;
        justify-content: center;
        gap: 15rem;
    }
    .subtitulos {
        background-color: #213555;
        padding: 10%;
        border-radius: 10px;
    }
    .div-habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        max-width: 100px;
    }
    .div-aprendiendo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        max-width: 100px;
    }
    .logos-car {
        max-width: 100px;
    }
    
    /*CIERRA HABILIDADES STYLE*/

    /*ESTUDIOS STYLE*/

    .titulo-estudios {
        background-color: #213555;
        display: flex;
        justify-content: center;
        justify-self: center;
        width: fit-content;
        border-radius: 10px;
        padding: 1%;
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .subtitulos-estudios {
        background-color: #406299;
        display: flex;
        justify-content: center;
        justify-self: start;
        width: fit-content;
        margin: 2rem 0rem 2rem 2rem;
        border-radius: 10px;
        padding: 10px;
    }
    .parrafos-estudios {
        margin: 0rem 20rem 0rem 2rem;
        font-size: 1.3rem;
    }
    .footer-estudios {
        position: relative;
    }

    /*CIERRA ESTUDIOS STYLE*/

    /*CONTACTO STYLE*/

    .div-contacto {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin: 5rem;
    }
    .btn-enviar {
        width: 10%;
        display: flex;
        justify-content: center;
        justify-self: center;
        margin: 3rem;
    }
    .label-contacto {
        background-color: #213555;
        width: 15%;
        padding: 1%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    .label-mensaje {
        background-color: #213555;
        width: 15%;
        padding: 1%;
        border-radius: 10px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
    }
    .footer-contacto {
        position:relative;
    }

    /*CIERRA CONTACTO STYLE*/
}
/*CIERRE DESKTOP VIEW*/