@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", serif;
    box-sizing: border-box;
}
body {
    background-color: #3E5879;
    margin: 0;
    padding: 0;
}
span {
    font-weight: bold;
}
main {
    color: white;
}

/*MOBILE VIEW*/

.grid-contenedor-padre {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat (3, 1fr);
}

/*HEADER*/

.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: #213555;
    align-items: center;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    padding: 0%;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
}

/*CIERRE HEADER*/

/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2%;
}

.marco {
    background-color: #213555;
    border-radius: 16px;
}

/*CIERRE FOOTER*/

/*INICIO STLYE*/

.main-inicio {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

.foto-mati {
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

/*CIERRE INICIO STYLE*/

/*SOBRE MI STYLE*/

.main-sobre-mi {
    padding: 3%;
}
.titulo-sobre-mi {
    text-align: center;
    font-size: 2.5rem;
    background-color: #213555;
    border-radius: 5px 5px 10px 10px;
    padding: 2%;
}
.parrafo-sobre-mi {
    text-align: center;
    font-size: 1.3rem;
}

/*CIERRE SOBRE MI STYLE*/

/*HABILIDADES STYLE*/

.div-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.div-aprendiendo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.subtitulos {
    background-color: #213555;
    font-size: 1.5rem;
    padding: 5%;
    border-radius: 10px;
}
/*CIERRA HABILIDADES STYLE*/

/*ESTUDIOS STYLE*/

/*CIERRA ESTUDIOS STYLE*/

/*CONTACTO STYLE*/

/*CIERRA CONTACTO STYLE*/

/*CIERRE MOBILE VIEW*/

/*TABLET VIEW*/

@media (min-width: 744px) {

    /*GRID*/

    .grid-contenedor-padre {
        display: grid;
        min-height: 100vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat (3, 1fr);
    }

    .grid-item-hijo1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .grid-item-hijo2 {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }

    .grid-item-hijo3 {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }


    /*CIERRE GRID*/

    /*HEADER*/

    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color: #213555;
        align-items: center;
    }
    .nav-bar ul {
        list-style: none;
        display: flex;
        padding: 0%;
        gap: 50px;
    }
    
    .nav-bar a {
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }

    /*CIERRE HEADER*/

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: center;
        gap: 8rem;
        padding: 2%;
    }
    
    .marco {
        background-color: #213555;
        border-radius: 16px;
    } 

    /*CIERRE FOOTER*/

    /*INICIO STYLE*/

    .main-inicio {
        color: white;
        text-align: center;
    }
    
    .foto-mati {
        width: 350px;
        height: 450px;
        border-radius: 10px;
    }

    .titulo-inicio {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .parrafo-inicio {
        font-size: 1.5rem;
        text-align: center;
        padding: 2%;
    }

    /*CIERRE INCIO STYLE*/

    /*SOBRE MI STYLE*/
    
    /*CIERRE SOBRE MI STYLE*/

    /*HABILIDADES STYLE*/

    /*CIERRA HABILIDADES STYLE*/

    /*ESTUDIOS STYLE*/

    /*CIERRA ESTUDIOS STYLE*/

    /*CONTACTO STYLE*/

    /*CIERRA CONTACTO STYLE*/

}

/*CIERRE TABLET VIEW*/

/*DESKTOP VIEW*/

@media (min-width: 1024px) {

    /*GRID*/

    .grid-contenedor-padre {
        display: grid;
        min-height: 100vh;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
    .grid-item-hijo1 {
        grid-column: 1 / 6;
    }

    .grid-item-hijo2 {
        grid-column: 2 / 5;
        grid-row: 2 / 5 ;
    }

    .grid-item-hijo3 {
        grid-column: 1 / 6;
        grid-row: 5 / 5;
        align-content: center;
    }

    /*CIERRE GRID*/

    /*HEADER*/

    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color: #213555;
    }
    .nav-bar ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }

    /*CIERRE HEADER*/

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: center;
        gap: 10rem;
    }

    /*CIERRE FOOTER*/

    /*INICIO STYLE*/

    .main-inicio {
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        padding: 0%;
    }
    
    .foto-mati {
        width: 350px;
        height: 450px;
        border-radius: 10px;
    }
    
    .titulo-inicio {
        font-size: 3rem;
        text-align: start;
    }
    
    .parrafo-inicio {
        font-size: 2rem;
        text-align: start;
        padding: 0%;
    }

    /*CIERRE INICIO STYLE*/

    /*SOBRE MI STYLE*/

    .main-sobre-mi {
        justify-items: center;
    }

    .titulo-sobre-mi {
        background-color: #213555;
        width: 50%;
        border-radius: 10px;
        font-size: 3rem;
        padding: 1%;
    }

    .parrafo-sobre-mi {
        font-size: 2rem;
        text-align: start;
    }

    /*CIERRE SOBRE MI STYLE*/

    /*HABILIDADES STYLE*/
    
    .contenedor {
        display: flex;
        justify-content: center;
        gap: 25rem;
    }

    .div-habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .div-aprendiendo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .subtitulos {
        background-color: #213555;
        padding: 10%;
        border-radius: 10px;
    }
    /*CIERRA HABILIDADES STYLE*/

    /*ESTUDIOS STYLE*/

    /*CIERRA ESTUDIOS STYLE*/

    /*CONTACTO STYLE*/

    /*CIERRA CONTACTO STYLE*/
}

/*CIERRE DESKTOP VIEW*/