@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", serif;
    box-sizing: border-box;
}
body {
    background-color: #3E5879;
    margin: 0;
    padding: 0;
}
span {
    font-weight: bold;
}
main {
    color: white;
}

/*CONTENIDO DE INICIO*/
.grid-contenedor-padre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat (3, 1fr);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: #213555;
    align-items: center;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    padding: 0%;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
}
.main-inicio {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

.foto-mati {
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.marco {
    background-color: #213555;
    border-radius: 16px;
}

@media (min-width: 1024px) {
    .grid-contenedor-padre {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
    .grid-item-hijo1 {
        grid-column: 1 / 6;
    }
    .grid-item-hijo2 {
        grid-column: 2 / 5;
        grid-row: 2 / 5;

    }
    .grid-item-hijo3 {
        grid-column: 1 / 6;
        grid-row-start: 6;
        align-content: center;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        background-color: #213555;
    }
    .nav-bar ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .nav-bar a {
        text-decoration: none;
        font-size: 0.9rem;
        color: white;
    }
    .main-inicio {
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 10rem;
        padding: 0%;
    }
    
    .foto-mati {
        width: 350px;
        height: 450px;
        border-radius: 10px;
    }
    
    .titulo-inicio {
        font-size: 3em;
        text-align: start;
    }
    
    .parrafo-inicio {
        font-size: 2em;
        text-align: start;
    }

    footer {
        
        display: flex;
        justify-content: center;
        gap: 10rem;
    }
}
/*FIN DE CONTENIDO INCIO*/

/*CONTENIDO SOBRE MI*/
.main-sobre-mi {
    padding: 3%;
}
.titulo-sobre-mi {
    text-align: center;
    font-size: 3rem;
}
.parrafo-sobre-mi {
    text-align: start;
    font-size: 2rem;
}
/*FIN DE CONTENIDO SOBRE MI*/

