.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    
}
.grid-item {
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
