/*CUERPO DE LA PÁGINA*/
body {
    background-color: #3E5879;
    margin: 0;
    padding: 0;
}
/*CIERRE DEL CUERPO DE LA PÁGINA*/

/*HEADER*/
.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: #213555;
    position: relative;
    right: 0;
    left: 0;
    margin-bottom: 50px;
    align-items: end;
}

.nav-bar ul {
    list-style: none;
    display: flex;

}

.nav-bar a {
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    margin-right: 9px;
}
/*CIERRE HEADER*/

/*MAIN*/
main {
    display: grid;
    align-items: center;
    justify-items: start;
    color: white;
    padding: 2%;
}

.foto-mati {
    width: 40vh;
    height: 50vh;
    border-radius: 10px;
}

.titulo-inicio {
    font-size: 2.5em;
}

.parrafo-inicio {
    font-size: 1.5em;
    
}
div {
    max-width: 500px;
}
/*CIERRE MAIN*/

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #213555;
    position: relative;
    right: 0;
    left: 0;
    margin-top: 50px;
}
/*CIERRE FOOTER*/

* {
    font-family: "Rubik", serif;
    box-sizing: border-box;
}





