* {
    font-family: "Rubik", serif;
    color: black;
    box-sizing: border-box;
}
li {
    display: inline;
    margin: 2%;
}   
a {
    text-decoration: none;
}
header{
    width: 100%;
    margin: 2% 0% 0% 60%;
}
img {
    width: 20%;
}
.logos {
    width: 3%;
}

main {
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 5% 10% 20% 10%;
    
    }




